*{
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
  list-style: none;
}

.logo{
  margin-top: 2rem;
  width: 6rem;
  
}

.body{
  height: 32.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.loudPlayers{
  margin-left: 1.5rem;
  width: 95%;
  height: 25.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards{
  color: #12FF01;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #12FF01;
  border-radius: 10px;
  transition: 1s all
}

.cards:hover{
  color: black  ;
  transform: scale(1.1);
  background: #12FF01;
}

.cards button{
  width: 3rem;
  cursor: crosshair;
  background-color: #12FF01;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info img{

  width:120px;
  height:120px;
}
